.location{
    display: block;
       max-width: 100%;
}
.location_wrapper{
    max-width: 100%;
    height: 50vh;
    margin-top: 10rem;
    background-color: var(--success);
    padding: 1rem;
    border-radius: 1rem;
}
.location_title{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    font-family: var(--danaBlack);
    font-size: 2rem;
}
.location_text{
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: var(--secondary);
}
.location_city{
    display: block;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: var(--white);
}
.location_input{
    display: block;
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    background-color:var(--shadow);
    border-radius: 0.4rem;
    color: var(--white);
    padding-right: 0.3rem;
    font-size: 1.1rem;
    font-weight: 700;
}
.location_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3rem;
}
.location_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 3rem;
    font-family: var(--danaBold);
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.location_btn:first-child{
    background-color: var(--blue-100);
    color: var(--white);
    transition: all 0.4s linear;
    &:hover{
        background-color: var(--blue-200);
    }
}
.location_btn:last-child{
    background-color: var(--secondary);
    color: var(--white);
    transition: all 0.4s linear;
    &:hover{
        background-color: var(--green-100);
    }
}